body {
  text-align: center;
}

nav {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  border: 1px solid black;
  margin: 0 15% 0 15%;
  padding: 0 175px 0 175px;
  margin-bottom: 30px;
}

hr {
  margin-left: 15%;
  margin-right: 15%;
}

.title {
  padding: 30px 0 40px 0;
}

#title {
  font-size: 50px;
  font-weight: 300;
}

.artwork {
  height: 350px;
  width: 350px;
  border: 1px solid grey;
  border-radius: 3px;
}

.clipart {
  height: 40px;
  width: auto;
  transition-duration: .4s;
}

.youtubeArt {
  height: 25px;
  width: auto;
  transition-duration: .4s;
}

.clipart:hover, .youtubeArt:hover {
  transform: scale(1.4);
}

.logo:hover {
  text-decoration: none;
}

.item {
  /* border: 1px solid red; */
  margin: 0 15% 0 15%;
  display: flex;
  justify-content: center;
}

.itemLeft, .itemRight {
  /* border: 1px solid blue; */
  margin: 0 10px 0 10px;
}

.itemRight {
  width: 400px;
}

.list {
  text-align: left;
  padding: 20px 0 0 20px;
  font-size: 18px;
  /* border: 1px solid lime; */
}

.streamLinks {
  /* border: 1px solid orange; */
  justify-content: flex-start;
  padding-top: 25px;
}

.streamButton {
  margin-bottom: 20px;
}
